<div class="container mt-4">
  <h1 class="text-center mb-4">Recetas uniandes</h1>

  <div class="row g-4">
    @for (recipe of recipes; track recipe.id) {
    <div class="col-md-3 col-sm-6">
      <div class="card shadow-sm h-100">

        <img
          [src]="recipe.imagen"
          class="card-img-top"
          alt="{{ recipe.nombre }}"
          style="height: 180px; object-fit: cover"
        />

        <div class="card-body">
          <h5 class="card-title">{{ recipe.nombre }}</h5>

          <ul class="mb-3">
            <li><strong>Porciones:</strong> {{ recipe.porciones }}</li>
            <li><strong>Tiempo:</strong> {{ recipe.tiempo_minutos }} min</li>
          </ul>

          <button
            class="btn btn-primary w-100"
            (click)="goToDetail(recipe.id)"
          >
            Ver receta
          </button>
        </div>

      </div>
    </div>
    }
  </div>
</div>
